.quotes{
    display: grid;
    min-height: 400px;
    color: #fff;
    grid-template-areas: 
    '. socratus'
    'chizhevsky .'
    '. dain'
    'uvenalius .'
    '. dante';
    gap: 40px;
    padding: 40px 0 80px 0;
    font-size: 28px;
}
.astrology_quote{
    opacity: 0;
    text-align: center;
    transition: all 1s ease-in-out;
    /* line-height: 31px; */
    z-index: 2;
}
.astrology_quote::before{
    color: #fff;
    content: '"';
    font-size: 3em;
    line-height: 0;
    margin-right: 10px;
    vertical-align: -0.5em;
    opacity: .2;
    top: -8px;
    position: relative;
    font-style: italic;
}

.italic-name{
    font-style: italic;
}
.dante{
    grid-area: dante;
}
.socratus{
    grid-area: socratus;
}
.dain{
    grid-area: dain; 
}
.chizhevsky{
    grid-area: chizhevsky; 
}
.uvenalius{
    grid-area: uvenalius; 
}