.quotes{
    display: grid;
    min-height: 400px;
    color: #fff;
    grid-template-areas: 
    '. socratus'
    'chizhevsky .'
    '. dain'
    'uvenalius .'
    '. dante ';
    gap: 60px;
    padding: 40px 0;
    font-size: 28px;
}
.astrology_quote{
    opacity: 0;
    text-align: center;
    transition: all .8s ease-in-out;
}
.italic-name{
    font-style: italic;
}
/* .italic-name i{
    font-size: inherit;
} */
.dante{
    grid-area: dante;
}
.socratus{
    grid-area: socratus;
}
.dain{
    grid-area: dain; 
}
.chizhevsky{
    grid-area: chizhevsky; 
}
.uvenalius{
    grid-area: uvenalius; 
}